@{
    ViewBag.Title = "积分获取规则";
}
@model ChemCloud.Web.Areas.Admin.Models.IntegralRule
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>积分规则</strong>
        <li class="active"><a href="./Management">积分获取规则</a></li>
        <li>@Html.ActionLink("积分兑换规则", "Change", new { area = "admin" })</li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>平台积分的规则</p>
            </div>
        </em>
    </ul>
    @using (Html.BeginForm("Management", "IntegralRule", FormMethod.Post))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label" style="width:11%;">规则配置：</label>
                <div class="col-sm-10">
                    <table class="table table-bordered typeTable">
                        <thead>
                            <tr>
                                <th>项目</th>
                                <th>积分(+)</th>
                                <th>说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>会员注册</td>
                                <td><input class="text-order no-m" type="text" name="Reg" id="Reg" value="@Model.Reg"></td>
                                <td>注册会员</td>
                            </tr>
                            @*<tr>
                                    <td>绑定微信公众号</td>
                                    <td><input class="text-order no-m" type="text" name="BindWX" id="BindWX" value="@Model.BindWX"></td>
                                    <td>会员在微信端绑定个人账号赠送的积分</td>
                                </tr>*@
                            <tr>
                                <td>每日登录</td>
                                <td><input class="text-order no-m" type="text" name="Login" id="Login" value="@Model.Login"></td>
                                <td>会员每日登录赠送的积分，每天仅第一次登录可获得积分</td>
                            </tr>
                            <tr>
                                <td>产品评论</td>
                                <td><input class="text-order no-m" type="text" name="Comment" id="Comment" value="@Model.Comment"></td>
                                <td>会员每次发布产品评论赠送的积分</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="help-block">注：当配置为0时，则表示该项不获得积分</p>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">其它：</label>
                <div class="col-sm-3">
                    每消费
                    <input class="form-control input-sm" style="display:inline-block;width:50px;" id="MoneyPerIntegral" name="MoneyPerIntegral" type="text" value="@Model.MoneyPerIntegral">
                    元可获1积分
                </div>
                <div class="col-sm-5"><span class="help-default">金额不足1积分部分将自动省去</span></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" style="margin-left:11%;">
                    <input type="submit" id="Submit" class="btn btn-primary" value="提 交">
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/CommonJS.js"></script>
<script type="text/javascript">
    $(function () {
        $('#Reg').focusout(function () {
            var Reg = $('#Reg').val();
            if (!Reg)
                $.dialog.errorTips('请填写注册时获得的积分');
        });
        $('#Login').focusout(function () {
            var Login = $('#Login').val();
            if (!Login)
                $.dialog.errorTips('请填写每天登录获得的积分');
        });
        $('#Comment').focusout(function () {
            var Comment = $('#Comment').val();
            if (!Comment)
                $.dialog.errorTips('请填写商品评论获得的积分');
        });
        $('#Comment').focusout(function () {
            var MoneyPerIntegral = $('#MoneyPerIntegral').val();
            if (!MoneyPerIntegral)
                $.dialog.errorTips('请填写消费获得的积分');
        });
        $('#Submit').click(function () {
            var loading = showLoading();
            var data = $('form').serialize();
            $.post('./Management', data, function (result) {
                loading.close();
                if (result.success) {
                    $.dialog.succeedTips('保存成功');
                    setTimeout(3000);
                }
                else {
                    $.dialog.errorTips('保存失败！' + result.msg);
                }
                location.href = "./Management";
            });
        });

    });

</script>
