@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "我的账户";
}
@model  ChemCloud.Model.CapitalInfo
@using ChemCloud.Model;
@using ChemCloud.Core;
@{var type = Request.QueryString["type"];}

<script src="~/Scripts/jquery.ChemCloudDatagrid.js"></script>
<script src="~/Scripts/jquery.ChemCloudLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Areas/Web/Scripts/UserCapital.js"></script>
<style>.tb-goods td{ padding:5px 15px;}</style>
<div class="box1 lh24">
	<div class="title bot-border">
        <h3 class="title_txt cur">账户管理</h3>
    </div>
    <div class="border-box" style="margin:0;">
        <div id="describe" style="padding: 15px;">
            <div class="fl">
				可用金额： <span style="color:#3498DB"> @(Model==null ?0: Model.Balance) 元</span>
            </div>
			<div class="fr">
				<a class="btn-5 btn-8" style="background-color:#ff4d50; width:72px;height:26px;color:#fff;padding:0;text-align:center;margin-right:10px;" href="@Url.Action("CapitalCharge")" target="_self">去充值</a>
				<a class="btn-5 btn-8" style="background-color:#eff2f5;width:60px;height:28px;border:1px solid #6a7c86;color:#6a7c86;padding:0;text-align:center" href="@Url.Action("ApplyWithDraw")" target="_self">提现</a>
			</div>
            <div class="clr"></div>
        </div>
    </div>

    @*<ul class="cl two-title" id="ulstatus">
        <li value="0" @(string.IsNullOrEmpty(type) ? "class=active" : "")><a href="#">账户明细</a></li>

        @foreach (var d in ChemCloud.Core.EnumHelper.ToDescriptionDictionary<ChemCloud.Model.CapitalDetailInfo.CapitalDetailType>())
        {
            if (type == d.Key.ToString())
            {
                <li class="active" value="@d.Key"><a >@d.Value</a></li>
            }
            else
            {
                <li value="@d.Key"><a >@d.Value</a></li>
            }
        }
    </ul>
    <div class="border-box">
        <table class="tb-void tb-goods" id="list">
		
		</table>
    </div>*@

</div>