@using ChemCloud.Core
@model ChemCloud.Web.Areas.Web.Models.ProductDetailModelForWeb

@{
    Layout = "../Shared/_Base.cshtml";
    ViewBag.Title = "产品详情";
}
<input type="hidden" id="gid" value="@Model.Product.Id" />
<input type="hidden" id="has" value="@(Model.Product.SKUInfo.Count()==0?0:1)" />

<div class="container">
    <div id="slides">
        @for (int i = 1; i < 6; i++)
        {
            if (File.Exists(Server.MapPath(Model.Product.ImagePath + string.Format("/{0}.png", i))))
            {
                <img src="@(Model.Product.ImagePath+string.Format("/{0}_350.png",i))" />
            }
        }
    </div>
    <div class="goods-info">
        <div class="item">
            <h4>@Model.Product.ProductName</h4>
            <h5 class="color">@Model.Product.ShortDescription</h5>
            <p><s>市场价:￥@Model.Product.MarketPrice.ToString("F2")</s></p>
            <h4>商城价:<em class="color" id="jd-price">￥@Model.Product.MinSalePrice.ToString("F2")</em><span>评价数：(@(ViewBag.CommentCount)条)</span><span style="margin-right:45px;">@(Model.Product.Himall_FreightTemplate !=null && Model.Product.Himall_FreightTemplate.IsFree == ChemCloud.Model.FreightTemplateInfo.FreightTemplateType.Free ? "免运费" : "")</span></h4>
            @if(Model.CashDepositsServer.IsCustomerSecurity||Model.CashDepositsServer.IsSevenDayNoReasonReturn||Model.CashDepositsServer.IsTimelyShip)
            { 
			    <ul class="ensary clearfix">
                    @if(Model.CashDepositsServer.IsCustomerSecurity)
                    { 
				        <li><i></i>消费者保障</li>
                    }
                    @if(Model.CashDepositsServer.IsSevenDayNoReasonReturn)
                    {
                        <li><i></i>七天无理由</li>
                    }
				    @if(Model.CashDepositsServer.IsTimelyShip)
                    {
                        <li><i></i>及时发货</li>
                    }
				    
			    </ul>
            }
        </div>
		@if (ViewBag.CouponCount != null || Model.Shop.FreeFreight > 0){
		<div class="item" id="divCoupon">
			<div class="promotion">
				<label>促销</label>
				<div class="promotion-list">
					@if (ViewBag.CouponCount != null)
					{
					<div class="promotion-coupon"><a href="/@ViewBag.AreaName/Coupon/ShopCouponList?shopid=@Model.Shop.Id"><span id="couponTip"><i class="coupon-tip">优惠券</i>@ViewBag.CouponCount 张可领优惠券</span><span id="couponLink" class="glyphicon glyphicon-menu-right"></span></a></div>
					}
					@if (Model.Shop.FreeFreight > 0) { 
						<div id="couponTip"><i class="bonus-tip">满免</i>满@(Model.Shop.FreeFreight)免运费</div>
						
					}
                    @if (ViewBag.BonusCount!=null)
                    {
                        <div><i class="voucher-tip">红包</i> 满@(ViewBag.BonusGrantPrice)元送@(ViewBag.BonusCount)个代金红包</div>
                    }
				</div>
			</div>
		</div>
		}
        
		@if (Model.Color.Count() > 0||Model.Size.Count() > 0||Model.Version.Count() > 0){
        <div class="item" id="choose">
                @if (Model.Color.Count() > 0)
                {
                    <div class="spec"><label>颜色</label>
                        <div style="padding-left:53px;">
                            @foreach (var color in Model.Color)
                            {
                                <span st="0" cid="@color.SKUId" class="@color.EnabledClass @color.SelectedClass">@color.Value</span>
                            }
                        </div>
                    </div>
                }
                @if (Model.Size.Count() > 0)
                {
                    <div class="spec"><label>尺寸</label>
                        <div style="padding-left:53px;">
                            @foreach (var size in Model.Size)
                            {
                                <span st="1" cid="@size.SKUId" class="@size.EnabledClass @size.SelectedClass">@size.Value</span>
                            }
                        </div>
                    </div>
                }
                @if (Model.Version.Count() > 0)
                {
                    <div class="spec"><label>版本</label>
                        <div style="padding-left:53px;">
                            @foreach (var version in Model.Version)
                            {
                                <span st="2" cid="@version.SKUId" class="@version.EnabledClass @version.SelectedClass">@version.Value</span>
                            }
                        </div>
                    </div>
                }
            </div>
			}
            <div class="item">
                <div class="buy-num">
                    <label>数量</label>
                    <div class="wrap-num">
                        <a class="glyphicon glyphicon-minus" href="javascript:;"></a> 
                        <input class="input-xs form-control" id="buy-num" value="1" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v()">
                        <a class="glyphicon glyphicon-plus" href="javascript:;"></a>
                    </div>
                </div>
            </div>
            <div class="item">
            <h4>@Model.Shop.Name</h4>
            <h6 class="gray">宝贝数量：@ViewBag.ProductNum</h6>
            
            <div class="shop-score">产品：<em>@(((decimal)ViewBag.ProductAndDescription).ToString("F2"))</em>发货：<em>@(((decimal)ViewBag.SellerDeliverySpeed).ToString("F2"))</em>服务：<em>@(((decimal)ViewBag.SellerServiceAttitude).ToString("F2"))</em></div>
        </div>

    </div>
    <div class="goods-info details">
        <div class="item">
            <a href="#top" onclick="gotoProductImg()">
                <div class="detail-anchor">图文详情</div>
                <a class="glyphicon glyphicon-menu-right"></a>
            </a>
        </div>
    </div>
    <div class="comment mt10">
        <div class="comment-hd">
            <strong>评论</strong>
            好评 <span>@((int)Model.Shop.ProductMark == 0 ? "100" : @ViewBag.NicePercent)%</span>
            <em>共@(Model.Product.Himall_ProductComments.Count())条 评价</em>
        </div>
        <ul id="commentReview"></ul>
    </div>
    <div class="goods-img">
        
    </div>
    <section id="s-actionBar-container">
        <div id="s-actionbar" class="action-bar mui-flex">

            <div class="tocart cell iconfont icon-cart-c">
                购物车
                <a href="/@ViewBag.AreaName/Cart/Cart"></a>
                <span class="plus-one">1</span>
            </div>
        @if ((bool)(@ViewBag.IsFavorite))
        {
            <div class="addfav cell iconfont icon-fav-c red" id="favoriteProduct">
                收藏
            </div>
        }
        else
        {
            <div class="addfav cell iconfont icon-fav-c" id="favoriteProduct">
                收藏
            </div>
        }

            <div class="toshop cell iconfont icon-shop-c">
                供应商
                @if (ViewBag.VShopId != -1)
                {
                    <a href="/@ViewBag.AreaName/vshop/detail/@ViewBag.VShopId"></a>
                }
                else
                {
                    <a onclick="notOpenVShop()"></a>
                }
            </div>
        @if (Model.Product.SaleStatus == ChemCloud.Model.ProductInfo.ProductSaleStatus.OnSale && Model.Product.AuditStatus == ChemCloud.Model.ProductInfo.ProductAuditStatus.Audited)
        {
            <button class="cart cell" id="addToCart">加入购物车</button>
            <button class="buy cell" id="easyBuyBtn">立即购买</button>
        }
        else
        {
            <button class="nobuy cell" id="easyBuyBtn">已 下 架</button>
        }
        </div>

    </section>
    <!-- 日龙添加 -->
    <div id="HideDiv" style="display:none">
        @MvcHtmlString.Create(Model.ProductDescription.Replace("'", " ’"))
    </div>
</div>
<script src="~/Areas/Web/Scripts/cloud-zoom.1.0.2.min.js"></script>
<script src="~/Areas/Web/Scripts/jQuery.Web.Alert.js"></script>
<script src="~/Areas/Web/Scripts/jQuery.Web.Login.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/ProductDetail.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/ProductComment.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Areas/Web/Scripts/SKU.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var shopid = '@Model.Shop.Id';
    $(function () {

        //焦点图滚动
        if($('#slides').children().length==0){
			$('#slides').hide();
		}
		if($('#slides').children().length>1){
			$('#slides').slidesjs({
				width: 640,
				height: 640,
				navigation: false,
				play: {
					active: false,
					auto: true,
					interval: 4000,
					swap: true
				}
			});
		}else{
			$('#slides').css({'height':$(document).width()*15/32})
		}
    });
    var flag;
    $(window).scroll(function () {

        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (flag == 1) {
            return false;
        }

        if (scrollTop + windowHeight >= scrollHeight) {
            loadProductImg();
            flag = 1;
        }
    });

    function gotoProductImg()
    {
        if (flag == 1) {
            return false;
        }
        else {
            loadProductImg();
            flag = 1;
        }
    }

    function loadProductImg() {
        $(".goods-img").append('<h4><a name="top">产品图文详情</a></h4>' + $("#HideDiv").html());
    }
    function notOpenVShop() {
        $.dialog.tips('暂未开通微店');
    }

</script>
<a class="WX-backtop"></a>